.Body
{
  color: #999999;
  font-family: sans-serif;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: Bold;
  margin-bottom: 0.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 8.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}
