/* This is the custom CSS file for the Views documentation. */
/*                         */

/* Changing the font for Notes */
div.Note
{
   font-family: sans-serif;
   font-style: normal;
}

caption.Note
{
   font-family: sans-serif;
   font-style: normal;

}

span.style
{
   font-family: sans-serif;
   
}

span.ClassName
{
   font-family: monospace;

}

span.MethodName
{
   font-family: monospace;

}
