.Itemize > span.WebWorks_Number
{
  text-indent: -14.173228346456696pt;
}

.Itemize > span.WebWorks_Number > *
{
  text-indent: 0;
}

.NoteNumbered > span.WebWorks_Number
{
  text-indent: -11.338582677165359pt;
}

.NoteNumbered > span.WebWorks_Number > *
{
  text-indent: 0;
}

.NoteNumbered1 > span.WebWorks_Number
{
  text-indent: -11.338582677165359pt;
}

.NoteNumbered1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered > span.WebWorks_Number
{
  text-indent: -14.173228346456696pt;
}

.Numbered > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered1 > span.WebWorks_Number
{
  text-indent: -14.173228346456696pt;
}

.Numbered1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

