.Bulleted > span.WebWorks_Number
{
  text-indent: -11.338582677165192pt;
}

.Bulleted > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Insetitemize > span.WebWorks_Number
{
  text-indent: -9.921259842519688pt;
}

.Insetitemize > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Itemize > span.WebWorks_Number
{
  text-indent: -14.173228346456696pt;
}

.Itemize > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered > span.WebWorks_Number
{
  text-indent: -14.173228346456696pt;
}

.Numbered > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered1 > span.WebWorks_Number
{
  text-indent: -14.173228346456696pt;
}

.Numbered1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

