.Itemize > span.WebWorks_Number
{
  text-indent: -14.173228346456696pt;
}

.Itemize > span.WebWorks_Number > *
{
  text-indent: 0;
}

.NoteItemized > span.WebWorks_Number
{
  text-indent: -14.17322834645666pt;
}

.NoteItemized > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered > span.WebWorks_Number
{
  text-indent: -14.173228346456696pt;
}

.Numbered > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered1 > span.WebWorks_Number
{
  text-indent: -14.173228346456696pt;
}

.Numbered1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

