div.Appendixnumber, caption.Appendixnumber
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 30.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 42.0pt;
  margin-left: 85.0393700787401pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: right;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
  width: 96%;
}

div.Appendixtitle, caption.Appendixtitle
{
  border-bottom-color: Black;
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: #226099;
  direction: ltr;
  font-family: Sans-Serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 2em;
  margin-left: 0em;
  margin-right: 0pt;
  margin-top: 0em;
  padding-left: 0.5em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
  width: 99%;
}

div.Body, caption.Body
{
  color: #000000;
  direction: ltr;
  font-family: Sans-Serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 1.35em;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
  width: 96%;
}

div.Caption, caption.Caption
{
  color: #000000;
  direction: ltr;
  font-family: Sans-Serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6.0pt;
  margin-left: 1.35em;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
  width: 96%;
}

div.CaptionL1, caption.CaptionL1
{
  color: #000000;
  direction: ltr;
  font-family: Sans-Serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6.0pt;
  margin-left: 0em;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
  width: 96%;
}

div.Heading1, caption.Heading1
{
  border-bottom-color: Black;
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: #226099;
  direction: ltr;
  font-family: Sans-Serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 2em;
  margin-left: 0em;
  margin-right: 0pt;
  margin-top: 0em;
  padding-left: 0.5em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
  width: 99%;
}

div.Heading2, caption.Heading2
{
  border-bottom-color: Black;
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: #226099;
  direction: ltr;
  font-family: Sans-Serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 2em;
  margin-left: 0.35em;
  margin-right: 0pt;
  margin-top: 0em;
  padding-left: 0.5em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
  width: 99%;
}

div.IndentedL1, caption.IndentedL1
{
  color: #000000;
  direction: ltr;
  font-family: Sans-Serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 3em;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
  width: 96%;
}

div.Itemize, caption.Itemize
{
  color: #000000;
  direction: ltr;
  font-family: Sans-Serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 3em;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: left;
  text-indent: -14.173228346456696pt;
  text-transform: none;
  vertical-align: baseline;
  width: 90%;
}

div.Numbered, caption.Numbered
{
  color: #000000;
  direction: ltr;
  font-family: Sans-Serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 3em;
  margin-right: 0pt;
  margin-top: 7.0pt;
  text-align: left;
  text-indent: -14.173228346456696pt;
  text-transform: none;
  vertical-align: baseline;
  width: 96%;
}

div.Numbered1, caption.Numbered1
{
  color: #000000;
  direction: ltr;
  font-family: Sans-Serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 3em;
  margin-right: 0pt;
  margin-top: 7.0pt;
  text-align: left;
  text-indent: -14.173228346456696pt;
  text-transform: none;
  vertical-align: baseline;
  width: 96%;
}

div.Startfigure, caption.Startfigure
{
  color: #000000;
  direction: ltr;
  font-family: "Times New Roman";
  font-size: 7.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 16.0pt;
  margin-left: 85.0393700787401pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
  width: 96%;
}

span.caption, abbreviation.caption, acronym.caption, citation.caption
{
  color: #000000;
  font-family: Sans-Serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.code, abbreviation.code, acronym.code, citation.code
{
  color: #000000;
  font-family: Monospace;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.diamond, abbreviation.diamond, acronym.diamond, citation.diamond
{
  color: #000000;
  font-family: ZapfDingbats;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.emphasis, abbreviation.emphasis, acronym.emphasis, citation.emphasis
{
  color: #000000;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.flag, abbreviation.flag, acronym.flag, citation.flag
{
  color: #858A8B;
  font-family: Sans-Serif;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: bold;
  vertical-align: baseline;
}

span.folionum, abbreviation.folionum, acronym.folionum, citation.folionum
{
  color: #000000;
  font-family: Helvetica;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.gotoref, abbreviation.gotoref, acronym.gotoref, citation.gotoref
{
  color: #000000;
  font-family: Courier;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.mantitle, abbreviation.mantitle, acronym.mantitle, citation.mantitle
{
  color: #000000;
  font-family: Helvetica;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

span.number, abbreviation.number, acronym.number, citation.number
{
  color: #000000;
  font-family: Helvetica;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.white, abbreviation.white, acronym.white, citation.white
{
  color: #ffffff;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

img.Default
{
  margin-left: auto;
  margin-right: auto;
}

video.Default
{
  margin-left: auto;
  margin-right: auto;
}

