<html>
  <head>
    <STYLE type="text/css">
    H1 {border-width: 0; border: solid; text-align: center;
        font-family: Verdana,Arial,Helvetica; font-size: 14pt}
    H2 {font-family: Verdana,Arial,Helvetica; font-size: 12pt}
    Table {font-family:Verdana,Arial,Helvetica; font-size: 10pt}
    P  {font-family:Verdana,Arial,Helvetica; font-size: 10pt}
    LI {font-family:Verdana,Arial,Helvetica; font-size: 10pt}
    </STYLE>
  <title>Rogue Wave Views 6.2 - Graph Layout Samples</title>
  </head>
  <body>
  <p>  This directory contains samples for Rogue Wave Views Graph Layout.
</p>
	<h1>Directory: <a href="inspector/index.html">inspector</a></h1>
	Demonstrations of functionalities of Rogue Wave Views layout algorithms.
    An inspector allows you to change the default parameters of the
    algorithms.
	    <h2>Sample: <a href="inspector/index.html#inspector">inspector</a></h2>
	    <table width="640">
		<tr><td colspan="2"><strong>Rogue Wave Views Layout Inspector</strong></td></tr>
		<tr><td><a href="inspector/data/inspector.png"><img src="inspector/data/inspector_small.png" width="160" height="120"/></a></td>
			    <td>
	<strong>The Gadgets package must be installed to be able to build
	this sample.</strong><br/>
	Shows how to create layout instances and allows you to perform different layouts on the same graph.
	</td></tr>
	</table>
	<h1>Directory: <a href="libdeps/index.html">libdeps</a></h1>
	Shows how the <code>IlvHierarchicalLayout</code> algorithm can be used.
	    <h2>Sample: <a href="libdeps/index.html#libdeps">libdeps</a></h2>
	    <table width="640">
		<tr><td colspan="2"><strong>Dependency of the Rogue Wave Views Libraries</strong></td></tr>
		<tr><td><a href="libdeps/data/libdeps.png"><img src="libdeps/data/libdeps_small.png" width="160" height="120"/></a></td>
			    <td>
	Performs the Hierarchical layout on the Rogue Wave Views libraries graph.
	</td></tr>
	</table>
	<h1>Directory: <a href="userman/index.html">userman</a></h1>
	Contains all samples explained in the Rogue Wave Views Graph Layout user manual.
	    <h2>Sample: <a href="userman/index.html#layoutsample1">layoutsample1</a></h2>
	    <table width="640">
		<tr><td colspan="2"><strong>Getting Started with Rogue Wave Views Graph Layout</strong></td></tr>
		<tr><td><a href="userman/data/layoutsample1.png"><img src="userman/data/layoutsample1_small.png" width="160" height="120"/></a></td>
			    <td>
	The basic steps for using the layout algorithms are illustrated in this sample.
	</td></tr>
	</table>
    </body>
</html>
